/node_modules
/public/hot
/public/storage
/public/media/*
/public/media-trash/*
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env
/scripts/archive
/scripts/archive.zip
